* {
  text-align: center;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

.test-header {
  padding: 1rem;
  text-align: center;
  background: #efefef;
  color: white;
  font-size: 30px;
}
#meat {
  padding: 1rem;
}

#corner-div {
  position: absolute;
  left:0;
  top:0;
  color: #000000;
  font-size: 1rem;
}

#body-corner-div {
  position: absolute;
  left: 0;
  top: 1;
}

#test-div, #sum {
  font-size: 3em;
}

button {
  color: white;
  background: black;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  color: black;
  text-align: center;
}
